table inet work_history {
  chain input {
    type filter hook input priority 10; policy accept;
    iifname "lo" tcp dport 8080 accept
    ip saddr __NPM_IP__/32 tcp dport 8080 accept
    tcp dport 8080 drop
  }
}
